.App {
  text-align: center;
}

.white_h1{
	/* text-align: center;
	width: 100%;
	height: auto;
	position: relative; */
  padding-top:25px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  font-family: 'Dancing Script', cursive;
	font-size: 36px; 
}

.response {
  padding-left:100px;
  padding-right:100px;
  color: #FFF;
}

.container {
  background-image: url("./background.jpeg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border:0;
  margin-top: -24px;
}

#googleButton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.title {
  font-size: 36px;
  font-weight: bold;
}

.description {
  font-size: 16px;
}


.textbox {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #8bcfde7b;
  color: #333;
  transition: border-color 0.3s ease;
  font-family: "Arial", sans-serif;
}

.textbox:hover,
.textbox:focus {
  border-color: #421976;
}


.submit-button {
  /* Adjust the size and shape */
  border-radius: 20px;
  padding: 10px 20px;
  
  /* Apply a custom color */
  background-color: #333;
  color: #fff;
  
  /* Set font properties */
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
}

/* Adjust the hover effect */
.submit-button:hover {
  background-color: #485a4d;
}

.login-button {
  background-color: #515963;
  color: #ffffff;
  border: 5;
  border-radius: 4px;
  margin: 5px;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button::placeholder {
  color:#ffffff;
}

/* Adjust hover effect */
.login-button:hover {
  background-color: #485a4d;
}