<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Peepeepoopoo</h3>
  <form action="/" method="post">
    <input type="text" name="address" placeholder="Where do you currently live?" required />
    <input type="text" name="days" placeholder="How many days if your trip?" required />
    <input type="submit" value="Generate locations" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
